<!DOCTYPE html>
<html lang="en">
<!--Head-->
<%- include('./partials/head.ejs', {titulo: "E-404", style: "style.css", estilo: "error.css", sidebar: "null"}) %>
<body>
    <main>
        Aqui se va a mostrar el error 404
    </main>
</body>
</html>