<nav>
    <i class='bx bx-menu'></i>
    <a href="#" class="nav-link"><%= locals.userLogged.usuario %></a>

    <form action="<%= form_action %>" method="get" <%= hidden %>>
        <div class="form-input">
            <input id="searchInput" type="search" placeholder="Buscar..." name="search">
            <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
        </div>
    </form>

    <input type="checkbox" id="switch-mode" hidden>
    <label for="switch-mode" class="switch-mode"></label>
    <!-- <a href="#" class="notification">
        <i class='bx bxs-bell'></i>
        <span class="num">8</span>
    </a>
    <a href="#" class="profile">
        <img src="img/people.png">
    </a> -->
</nav>